
models_train/KonIQ-10k
*.out
/venv
__pycache__/

models_train/results
models_train/checkpoints/*
*.pth
models_train/results_in_the_paper/*.pdf
*.pdf
graph_data
runs/
*.log
/KonIQ-10k
/models_train/adversarial_trained
/checkpoints
/weights/*
/debug_img
