
models_train/KonIQ-10k


__pycache__/

models_train/results
models_train/checkpoints/*
*.pth
models_train/results_in_the_paper/*.pdf
*.pdf
graph_data
runs/
*.log
/KonIQ-10k
/prune
/models_train/adversarial_trained
/checkpoints
/NIPS_test
/weights