models_train/KonIQ-10k
*.out
/venv
__pycache__/
.idea/

fc_models
db_models

models_train/results
models_train/checkpoints/*
*.pth
*.pt
*.yaml
*.gz
*.pdf
graph_data
runs/
*.log
/KonIQ-10k
/models_train/adversarial_trained
/checkpoints
/weights/*
/debug_img
NIPS
mnt
presets/*
!presets/default_train.yaml
!presets/default_test.yaml
!presets/tester.yaml
wandb